body {
	background-image: url('/pictures/GG_BG.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
}

#centerjumbo {
	padding-top: 130px;
}

.welcome-text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 72px;
	margin: auto;
	text-align: center;
	color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
	-webkit-font-smoothing: antialiased;
}

.jumbotron{
	background: rgba(0, 0, 0, 0.4);
}
