/*I know nothing about css but I made a file anyways. Feel free to replace this */

/*placeholder. White with black outline for redability in any background */
h1 {
	font-family:georgia;
    text-align: center;
    color: green;

}
#link { 
	color: red;
	font-size: 40px; 
}
h2, h3{
	font-family:georgia;
    text-align: center;
    color: green;
}

p {
	font-family:georgia;
    color: black;

}
body{
	font-family:georgia;
	text-align: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}