/*I know nothing about css but I made a file anyways. Feel free to replace this */

/*placeholder. White with black outline for redability in any background */
h1 {
	font-family:georgia;
    text-align: center;
    color: green;

}
#link { 
	color: red;
	font-size: 30px; 
}
h2, h3{
	font-family:georgia;
    text-align: center;
    color: green;
}

h4{
	font-family:georgia;
    text-align: left;
    color: green;
}
p {
	font-family:georgia;
    color: black;

}
body{
	font-family:georgia;
	text-align: center;
}